<!--=======================================< Start Footer>=================================================-->
<div class="container-fluid bg-dark text-white text-center py-3" id="footer">
  <div class="row">
    <div class="col-12 col-md-4 p-0 m-0">
      <p class="lead p-0 m-0">&copy; Copyright (c) 2020 </p>
    </div>
    <div class="col-12 col-md-4 p-0 m-0">
      <p class="lead p-0 m-0">&reg;All Rights Reserved. Sarah && Mariam </p>
    </div>
    <div class="col-12 col-md-4 p-0 m-0">
      <p class="p-0 m-0 ">
        <a href="#"><i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
      </p>
    </div>
  </div>



</div>
<!--=======================================< Start Footer>=================================================-->