<!--- Start of the form ------>
<section class="Sign-In-container">
  <div class="container">
    <div class="form-box">
      {{#if hasErrors}}
      <div class="alert alert-danger">
        {{# each messages}}
        <p>{{this}}</p>
        {{/each}}
      </div>
      {{/if}}
      <form class="signin-form" action="/user/signin" method="post">
        <h3>Sign In</h3>
        <input class="form-input" placeholder="Email " type="email" name="email">
        <input class="form-input" placeholder="Password" type="password" name="password">
        <a href="#">Forgot password?</a>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <button class="btn btn-form" type="submit" name="button">Done</button>
        <p>Don't have an account ? <a href="/user/signup">Sign Up instead!</a> </p>
      </form>
    </div>
  </div>
</section>